<div class="footer g-body">
  <div class="article-credits">
    <each
      loop="item in (typeof footer === 'undefined' ? [] : footer.split('\n'))"
    >
      <p>{{{ item }}}</p>
    </each>
    <p>
      Map by Jason Kao. Deeds are from ACRIS; tax lot shapefiles are from the Department
      of Finance. The full methodology is on our <a href="https://github.com/graphicsdesk/property-acquisition">GitHub</a>.
    </p>
    <p>
      Produced with
      <a href="https://github.com/graphicsdesk/spectate">Spectate</a> by the
      <a href="https://graphicsdesk.github.io">Spectator Graphics</a> team.
    </p>
  </div>
</div>
