@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

#property-map-container {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .graphic-title {
    text-align: center;
    font-family: $graphik;
    margin: 0;
    margin-bottom: 16px;
    font-size: 21px;
    font-weight: 700;
  }

  p#property-map-label {
    position: absolute;
    top: 45px;
    left: 48px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 36px;
    font-family: $graphik;
    margin: 0;
  }

  p#property-map-caption {
    font-size: 15px;
    font-family: $georgia;
    color: #666;
    margin: 7px 0 0 0;
    padding: 0 $gbody-padding / 2;
    line-height: 1.3;
  }
}

#property-map {
  height: 100%;
  width: 100%;
}
